.about {
  padding: 0 10%;
  text-align: center;

  h1 {
    @mixin decorative-header;
  }

  p {
    font-size: 1rem;
    line-height: 1.8rem;
    word-break: keep-all;
    overflow-wrap: anywhere;
    @media (--smartphone-viewport) {
      font-size: 0.8rem;
      line-height: 1.5rem;
    }
  }

  img {
    width: 50vw;
    &:nth-child(even) {
      transform: scale(-1, 1);
    }
  }
}
