.characters {
  padding: 0 10%;
  padding-bottom: 3vw;

  h1 {
    @mixin decorative-header;
  }

  article {
    padding-bottom: 5vw;
    display: grid;
    grid-template-columns: 1fr 2fr;

    h2 {
      grid-area: 1/1/2/4;
      font-size: 1.6rem;
      padding-bottom: 1rem;

    }

    figure {
      position: relative;

      img {
        z-index: 2;
        grid-area: 2/2/3/4;
        position: absolute;
        display: block;
        height: 100%;
        filter: drop-shadow(5px 5px 0px #c0c0c0);
        &:nth-child(1) {
          left: 15%;
          @media (--tablet-viewport) {
            margin: 0 auto;
            left: 0;
          }
        }
        &:nth-child(2) {
          z-index: 1;
          left: 60%;
          height: 80%;
          background: linear-gradient(60deg, #005ed9, #9cffd8 100%);
          clip-path: polygon(15% 10%, 75% 0, 75% 85%, 15% 95%);
        }
      }
    }

    .profile {
      grid-area: 2/1/3/2;

      dt {
        position: relative;
        padding: .5rem 0;
        margin-bottom: .5rem;
        width: 100%;
        display: flex;
        color: #333;

        &::after{
          bottom: 0;
          position: absolute;
          content: "";
          height: 1px;
          width: 100%;
          background: linear-gradient(to right, #e66465, #9198e5 75%, transparent );
        }
      }
      dd {
        color: #333;
        padding: .5rem 1rem 1.5rem;

        &:nth-child(8) {
          min-height: 3rem;
        }
      }
    }
  }
  .designer {
    text-align: right;
    font-size: 1.2rem;
    padding-bottom: 5vw;
    a {
      margin-left: .5rem;
    }
  }
  .background {
    padding-bottom: 1rem;
    text-indent: 1.2rem;
    line-height: 1.5rem;
  }
  h3 {
    position: relative;
    text-align: center;
    font-size: 1.4rem;
    padding: 1rem 0;
    margin-bottom: 1.4rem;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 1px;
      margin: 0 auto;
      background-image: linear-gradient(to right, transparent, #9EE4FF 10%, #090979 50%,#9EE4FF 90%, transparent);
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

@media (--tablet-viewport) {
  .characters {
    article {
      h2 {
        font-size: 1.4rem;
      }
    }
    .profile{
      dt {
        font-size: 1.4rem;
      }
      dd {
        font-size: 1.2rem;
        padding: .5rem 0;
      }
    }
    .designer {
      font-size: 1.2rem;
    }
    .background{
      font-size: 1.2rem;
    }
  }
}
@media (--smartphone-viewport) {
  .characters {
    article {
      h2 {
        font-size: 1.2rem;
      }
      display: flex;
      flex-direction: column;
      figure > img {
          width: 100%;
          position: relative;
          &:nth-child(2) {
            display: none;
          }
      }
    }
    .profile{
      dt {
        font-size: 1.2rem;
      }
      dd {
        font-size: 1rem;
        padding: .5rem 0;
      }
    }
    .designer {
      font-size: 1rem;
      a {
        margin: 0 2px;
      }
    }
    .background{
      font-size: 1rem;
    }
  }
}

