/* common */
html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', YuGothic,
    'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, Arial, 'メイリオ', Meiryo,
    sans-serif;
  color: $color-brack;
  background-color: $color-white;
  font-size: 1.2em;

  overflow-x: hidden;
}
header {
  z-index: 99;
  position: fixed;
  top: 1rem;
  left: 1rem;
  opacity: 0;
}

section {
  max-width: 1024px;
  margin: 0 auto;
  font-family: 'Kaisei Opti', serif;
}


footer {
  width: 100vw;
  line-height: 60px;
  color: $color-white;
  background-color: $color-brack;
  text-align: center;
  font-size: 0.8rem;
  position: relative;
  padding-top: 80px;
}

footer::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  pointer-events: none;
  background:
    url('data:image/svg+xml;utf8,<svg width="100%" height="80" viewBox="0 0 1920 80" xmlns="http://www.w3.org/2000/svg"><path d="M0,40 Q480,80 960,40 T1920,40 V80 H0 Z" fill="rgba(51,51,51,0.5)"/></svg>') no-repeat top 0% left 50%,
    url('data:image/svg+xml;utf8,<svg width="100%" height="80" viewBox="0 0 1920 80" xmlns="http://www.w3.org/2000/svg"><path d="M0,50 Q480,90 960,50 T1920,50 V80 H0 Z" fill="rgba(51,51,51,0.7)"/></svg>') no-repeat top 0% left 30%,
    url('data:image/svg+xml;utf8,<svg width="100%" height="80" viewBox="0 0 1920 80" xmlns="http://www.w3.org/2000/svg"><path d="M0,60 Q480,100 960,60 T1920,60 V80 H0 Z" fill="rgba(51,51,51,1)"/></svg>') no-repeat top 0% left 0%;
  background-size: cover, cover, cover;
  background-color: $color-white;
}
