/* common */
html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  color: $color-brack;
  background-color: $color-white;
  font-size: 1.2em;

  overflow-x: hidden;
}
header {
  z-index: 99;
  position: fixed;
  top: 1rem;
  left: 1rem;
  opacity: 0;
}

section {
  max-width: 1024px;
  margin: 0 auto;
  font-family: "Kaisei Opti", serif;
}

footer {
  width: 100vw;
  line-height: 60px;
  color: $color-white;
  background-color: $color-brack;
  text-align: center;
  font-size: .8rem;
}
