.top {
  position: relative;
  height: calc(100svh + 80px);
  max-width: 100vw;
  background-image: linear-gradient(0deg, #57C3C6, #115d89 25%, #080f1c);
  display: flex;
  justify-content: space-around;
  @media (--tablet-viewport) {
    justify-content: center;
  }
  align-items: center;

  h1{
    z-index: 2;
    position: absolute;
    color: transparent;
    font-size: 2rem;
    @media (--tablet-viewport) {
      font-size: 1.5rem;
    }
    padding: 0 2rem;
    text-align: center;
    line-height: 2.5rem;
    word-break: keep-all;
    overflow-wrap: anywhere;
    letter-spacing: 25px 0;
    animation: blur 3s ease-out forwards;
  }

  img {
    z-index: 1;
    display: block;
    width: 60vh; // fixme

    &:nth-child(even){
      opacity: 0;
      animation: slide-skew-sky 1.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
      animation-delay:3s;
    }
    &:nth-child(odd) {
      opacity: 0;
      transform: scale(-1, 1);
      animation: slide-skew-mint 1.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
      animation-delay: 3s;
    }
  }

  .scroll-down {
    width: 2px;
    height: 110px;
    display: block;
    position: absolute;
    background: transparent;
    animation: scrollDown 1.5s ease infinite;
    border-radius: 100%;
    margin: 0 auto;
    bottom: 80px; //section分の上に
    content-visibility: hidden; // Safariでの表示は汲み取らない
    animation-delay: 5s;

    &::before{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(transparent, #f1f1f1, transparent);
    }
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    pointer-events: none;
    background:
      url('data:image/svg+xml;utf8,<svg width="100%" height="80" viewBox="0 0 1920 80" xmlns="http://www.w3.org/2000/svg"><path d="M0,40 Q480,80 960,40 T1920,40 V80 H0 Z" fill="rgba(241,241,241,0.5)"/></svg>') no-repeat top 0% left 50%,
      url('data:image/svg+xml;utf8,<svg width="100%" height="80" viewBox="0 0 1920 80" xmlns="http://www.w3.org/2000/svg"><path d="M0,50 Q480,90 960,50 T1920,50 V80 H0 Z" fill="rgba(241,241,241,0.7)"/></svg>') no-repeat top 0% left 30%,
      url('data:image/svg+xml;utf8,<svg width="100%" height="80" viewBox="0 0 1920 80" xmlns="http://www.w3.org/2000/svg"><path d="M0,60 Q480,100 960,60 T1920,60 V80 H0 Z" fill="rgba(241,241,241,1)"/></svg>') no-repeat top 0% left 0%;
    background-size: cover, cover, cover;
    background-color: rgba(0, 0, 0, 0);
    z-index: 10;
  }
}

@keyframes scrollDown{
  0%{
    content-visibility: auto;
      transform-origin: top;
      transform: scaleY(0);
  }
  45%{
      transform-origin: top;
      transform: scaleY(1);
  }
  55%{
      transform-origin: bottom;
      transform: scaleY(1);
  }
  100%{
      transform-origin: bottom;
      transform: scaleY(0);
  }
}


/* 星のスタイル */
.star {
  position: absolute;
  display: block;
  background-color: #fff; /* 星の色 */
  border-radius: 50%;
  box-shadow: 0 0 4px 2px rgba(#fff, 0.2); /* 星の影 */
  opacity: 0;
  animation: twinkle 5s infinite;
}

/* 星がキラキラ光るアニメーション */
@keyframes twinkle {
  0% {
    opacity: 0;
  }

  50% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes blur {
  0% {
    text-shadow:  0 0 10rem #fff;
    opacity:0;
  }
  10% {
    text-shadow:  0 0 9rem #fff;
  }
  80% {
    text-shadow:  0 0 0px #fff;
    color: transparent;
  }
  90% {
    opacity: 1;
    text-shadow:  0 0 0px rgba(0, 0, 0, 0);
    color: #fff;
  }
  100% {
    color: #fff;
    text-shadow:  3px 3px 3px #0a5aab;
  }

}

/* スライドインアニメーション */
@keyframes slide-skew-sky {
  0% {
    transform: translate(-200px,50px);
  }
  100% {
    transform: translate(0,0);
  }
  80%,100% {
    opacity: 1;
  }
}

@keyframes slide-skew-mint {
  0% {
    transform: translate(200px,50px) scale(-1, 1);
  }
  100% {
    transform: translate(0,0) scale(-1, 1);
  }
  80%,100% {
    opacity: 1;
  }
}
