// 変数定義

// Default Colors
$color-black: #333;
$color-text-black: #4d5156; // Davy's Grey
$color-text-alt: #51656f; // Dark grayish cerulean
$color-bg-white: #f7f6f5;


// viewport
$sizeSmartphone: 430px;
$sizeTablet: 820px;
@custom-media --smartphone-viewport (max-width: $sizeSmartphone);
@custom-media --tablet-viewport (max-width: $sizeTablet);

// SectionHeader
$pc-font-size: 2rem;
$tablet-font-size: 1.5rem;
$smartPhone-font-size: 1.2rem;
@define-mixin decorative-header {
  display: flex;
  align-items: center;
  color: $color-text-alt;
  padding: 10vh 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-size: $pc-font-size;
  @media (--tablet-viewport) {
    padding: 8vh 0;
    font-size: $tablet-font-size;
  }
  @media (--smartphone-viewport) {
    padding: 6vh 0;
    font-size: $smartPhone-font-size;
  }

  &::before, &::after {
    content: "";
    height: 1px;
    flex-grow: 1;
  }
  &::before {
    margin-right: $pc-font-size;
    @media (--tablet-viewport) {
      margin-right: $tablet-font-size;
    }
    @media (--smartphone-viewport) {
      margin-right: $smartPhone-font-size;
    }
    background: linear-gradient(to left, #090979, #9EE4FF 75%, transparent);
  }
  &::after{
    margin-left: $pc-font-size;
    @media (--tablet-viewport) {
      margin-left: $tablet-font-size;
    }
    @media (--smartphone-viewport) {
      margin-left: $smartPhone-font-size;
    }
    background: linear-gradient(to right, #090979, #9EE4FF 75%, transparent);
  }
}

// CharacterBox
@define-mixin character-box $color-first, $color-second {
  position: relative;
  z-index: 0;
  padding: 1.5rem;
  border-radius: 15px;
  background-color: $color-bg-white;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(-45deg, $color-first 0%, $color-second 100% );
    transform: translate3d(0px, 10px, 0) scale(0.97);
    transition: transform 3s;
    filter: blur(20px);
    opacity: var(0.7);
    border-radius: inherit;
  }
  &:hover::before {
    transform: translate3d(0px, 15px, 0) scale(1);
  }
  &::after{
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    border-radius: inherit;
  }
}

// fontawesome
.fa-brands {
  color: darkgray;
  transition: color 0.3s ease-in-out;
  &:hover {
    color: $color-black;
  }
}
