<section class="characters">
  <h1>キャラクター</h1>
  <article class="Finoa">
    <h2>星の海を渡る夢の案内人</h2>
    <figure>
      <img src="{{ 'img/star-fullbody.webp'|url }}" alt="フィノアの全身画像">
      <img src="{{ 'img/star-back.webp'|url }}" alt="フィノアの背面画像">
    </figure>
    <dl class="profile">
      <dt>名前</dt><dd>フィノア<i>Finoa</i></dd>
      <dt>種族</dt><dd><ruby>星海竜<rt>せいかいりゅう</rt></ruby></dd>
      <dt>性別</dt><dd>&male;</dd>
      <dt>性格</dt><dd>静かで穏やかだけど、時々いたずら好きな一面も。特に、楽しい夢に怖い夢をちょっとだけ混ぜるのが好き。</dd>
    </dl>

  </article>
  <article class="Noctia">
    <h2>星の海を漂う夢の見届け人</h2>
    <figure>
      <img src="{{ 'img/mint-fullbody.webp'|url }}" alt="ノクティアの全身画像">
      <img src="{{ 'img/mint-back.webp'|url }}" alt="ノクティアの背面画像">
    </figure>
    <dl class="profile">
      <dt>名前</dt><dd>ノクティア<i>Noctia</i></dd>
      <dt>種族</dt><dd><ruby>星海竜<rt>せいかいりゅう</rt></ruby></dd>
      <dt>性別</dt><dd>不明</dd>
      <dt>性格</dt><dd>普段は落ち着いていて優しい頑張りや。夢のカケラをを見つけると、ましっぐらに駆けつけよく迷子になる。</dd>
    </dl>
  </article>
  <p class="designer">
    <span>イラスト: 望月ぴの。</span>
    <a href="https://x.com/pipinonopino" target="_blank"><i class="fa-brands fa-square-x-twitter"></i></a>
  </p>

  <h3>彼らについて</h3>
  <p class="background">夜空と水平線の境界に存在する不思議な生き物。迷子になった夢のカケラを拾い集め、人々のもとへ届ける役目を持つ。尾びれを星空に溶け込ませ、静かに空を泳ぐように移動することができる。時折、人の前に姿を現し、彼らが望む夢を見る手助けをしてくれると言われている。</p>
  <p class="background">星の潮流には、誰かの忘れられたり見過ごされた夢や、その余白が漂っている。それらの夢の余白は、時に輝きを失い、時に新たな輝きを得て、星々の間をさまよう。フィノアとノクティアは、その夢のカケラを見つけ出し、再び輝きを取り戻す旅をしている。</p>
  <p class="background">フィノアは拾い集めた夢のカケラを、自身の身体溶け込ませて運んでいる。夢のカケラは願いや思いの強さに合わせて光り輝く。</p>
  <p class="background">ノクティアの尻尾にあるリングは星の潮流への旅に出る前フィノアが渡したもの。ノクティアがかつて大切にしていたとある夢のカケラが埋め込んである。ただ、夢の詳細は思い出せないまま──</p>
</section>
