<meta property="og:site_name" content="Astraltide" />
<meta property="og:title" content="Astraltide" />
<meta property="og:type" content="website" />
<meta property="og:url" content=" https://astraltide.net" />
<meta property="og:image" content=" https://astraltide.net/static/img/ogp.webp" />
<meta property="og:locale" content="ja_JP" />
<meta property="og:description" content="Astraltide Website" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@TsukumoShiro" />
<meta name="twitter:title" content="Astraltide" />
<meta name="twitter:description" content="Astraltide Website" />
<meta name="twitter:image:src" content="https://astraltide.net/static/img/ogp.webp" />
